/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: currentColor;
    font-style: italic;
    text-decoration: none;

}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    color: white;
    padding: 24px 0 24px 0;
}

.backhome {
    color: brown;
    width: 32px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 999px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR */
.navbar {
    display: flex;
    gap: 12px;
    font-size: 32px;
}

.navcontainer{
    margin: 0 32px 0 0;
}

.link {
    color: lightseagreen;
}

.currentlink{
    color: blueviolet;
}
.logo{
    margin: 0 12px 0 12px;
}

/* LAYOUT */

.container {
    max-width: 980px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

/* utilities */
.mtop {
    margin: 24px 0;
}

.gap12{
    gap: 12px;
}


